{%extends 'auth.base'%}
{%block title%}{{trans('minejufe\\cas::register.title')}}{%endblock%}
{% block content %}
    <p style="text-align: center;">{{trans('minejufe\\cas::register.notice')}}</p>
    <p style="text-align: center;">{{trans('minejufe\\cas::register.check')}}{{ casUsername }}</p>
        <form action="/cas/register" method="post">
        {{ csrf_field() }}
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="{{trans('minejufe\\cas::register.id')}}" name="id" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user-graduate"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="{{trans('minejufe\\cas::register.pwd')}}" name="pwd" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="loginButton" class="btn btn-primary btn-block">{{trans('minejufe\\cas::register.submit')}}</button>
                </div>
            </div>
        </form>
{% endblock %}